.title{
  text-align: center;
  margin-top: 1rem;
  width: 100%; 
  font-weight: 600;
  font-size: 1.5rem;
  color:  #282c39;
}
.converter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  color:  #282c39;
  @media (max-width: 600px) {
    flex-direction: column;
  }
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .equal {
    margin: 0 1em;
    font-size: 40px;
    color:#282c39;
  }
  
  select {
    width: auto;
    height: 40px;
    background-color:#282c39;
    color:#fff;
    font-size: 20px;
    border: 1px solid #282c39;
    border-radius: 3px;
  }
  
  input {
    padding-left: 5px;
    width: 12rem;
    height: 38px;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 20px;
  }  
}

